@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Itim&family=Leckerli+One&display=swap");

body {
  font-family: "Caveat Brush", cursive !important;
  font-weight: bold !important;
  background-image: radial-gradient(
      circle at 77% 66%,
      hsla(39, 0%, 85%, 0.05) 0%,
      hsla(39, 0%, 85%, 0.05) 9%,
      transparent 9%,
      transparent 43%,
      transparent 43%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 56%,
      hsla(39, 0%, 85%, 0.05) 0%,
      hsla(39, 0%, 85%, 0.05) 20%,
      transparent 20%,
      transparent 56%,
      transparent 56%,
      transparent 100%
    ),
    radial-gradient(
      circle at 48% 45%,
      hsla(39, 0%, 85%, 0.05) 0%,
      hsla(39, 0%, 85%, 0.05) 15%,
      transparent 15%,
      transparent 85%,
      transparent 85%,
      transparent 100%
    ),
    radial-gradient(
      circle at 89% 6%,
      hsla(39, 0%, 85%, 0.05) 0%,
      hsla(39, 0%, 85%, 0.05) 5%,
      transparent 5%,
      transparent 32%,
      transparent 32%,
      transparent 100%
    ),
    radial-gradient(
      circle at 71% 38%,
      hsla(39, 0%, 85%, 0.05) 0%,
      hsla(39, 0%, 85%, 0.05) 14%,
      transparent 14%,
      transparent 21%,
      transparent 21%,
      transparent 100%
    ),
    radial-gradient(
      circle at 84% 78%,
      hsla(39, 0%, 85%, 0.05) 0%,
      hsla(39, 0%, 85%, 0.05) 11%,
      transparent 11%,
      transparent 85%,
      transparent 85%,
      transparent 100%
    ),
    radial-gradient(
      circle at 92% 72%,
      hsla(39, 0%, 85%, 0.05) 0%,
      hsla(39, 0%, 85%, 0.05) 42%,
      transparent 42%,
      transparent 51%,
      transparent 51%,
      transparent 100%
    ),
    radial-gradient(
      circle at 73% 95%,
      hsla(39, 0%, 85%, 0.05) 0%,
      hsla(39, 0%, 85%, 0.05) 48%,
      transparent 48%,
      transparent 63%,
      transparent 63%,
      transparent 100%
    ),
    radial-gradient(
      circle at 29% 29%,
      hsla(39, 0%, 85%, 0.05) 0%,
      hsla(39, 0%, 85%, 0.05) 24%,
      transparent 24%,
      transparent 73%,
      transparent 73%,
      transparent 100%
    ),
    linear-gradient(90deg, hsl(147, 0%, 99%), hsl(147, 0%, 99%));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0 !important;
}

.hero-header {
  font-family: "Leckerli One", cursive !important;
}

.nav-container a {
  color: #000;
  font-size: 24px;
  text-decoration: none;
  margin: 0px 10px;
}

/* .main {
    margin-top: 50px;
} */

.icon-container {
  width: 220px;
}

.icon-design-default {
  font-size: 60px;
  animation: floatIcon 2s infinite alternate;
}

.icon-alternate {
  color: #ffd43b;
}

.search-input {
  width: 700px;
  border-bottom: 10px solid #000;
  border-radius: 6px;
  padding: 10px;
  font-size: 18px;
}

.btn-design {
  background-color: #ffd43b !important;
  display: flex !important;
  gap: 5px;
  align-items: center;
  height: 50px;
  /* width: 100%; */
  font-weight: bold !important;
  font-size: 20px !important;
  border: 2px solid #000 !important;
  border-width: 2px 2px 5px 2px !important;
}

.btn-design:hover {
  background-color: #fab005 !important;
}

.show-nutrient-container {
  display: block !important;
}

.card {
  width: 300px;
  border: 2px solid #000 !important;
  border-width: 5px 5px 10px 5px !important;
}

img {
  width: 100%;
  height: 100%;
}

.header-title {
  font-family: "Leckerli One", cursive !important;
}

table {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px !important;
  text-align: center;
  width: 50% !important;
  border: 2px solid black !important;
  margin: auto;
}

tr {
  font-size: 22px;
}



/* Floating Animation For Icons */
@keyframes floatIcon {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}


@media screen and (max-width: 1200px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .center {
    padding: 0px !important;
  }
  .hero-header {
    font-size: 50px !important; 
  }
  .search-input {
    width: 400px;
    font-size: 13px;
  }
}

@media screen and (max-width: 756px) {
  .center {
    padding: 0px !important;
  }
  .hero-header {
    font-size: 40px !important; 
  }
  .search-input {
    width: 300px;
    font-size: 13px;
  }
  .text-description {
    font-size: 20px !important;
  }
  .header{
    padding: 20px !important;
  }
}

@media screen and (max-width: 476px) {
  .center {
    padding: 0px !important;
  }
  .hero-header {
    font-size: 30px !important; 
  }
  .search-input {
    width: 300px;
    font-size: 13px;
  }
  .text-description {
    font-size: 16px !important;
  }
  .header{
    padding: 20px !important;
  }
}